{% extends "base.html" %}

{% block servers %}
<aside class="menu">
    <p class="menu-label">
        Servidores
    </p>
    <ul class="menu-list">
        {% for server in servers %}
        <li><a href="{{ url_for('main.server', server_id=server.server_id) }}">{{ server.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}

{% block channels %}
<aside class="menu">
    <p class="menu-label">
        Canales
    </p>
    <ul class="menu-list">
        {% for channel in channels %}
        <li><a href="{{ url_for('main.channel', channel_id=channel.channel_id) }}">{{ channel.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}

{% block chat %}
<div id="chat">
    <div id="chat-header" class="my-1 is-flex is-justify-content-space-between is-align-items-center">
        <h2 class="title m-0">{{ channel.name }}</h2>
        <button class="button is-small is-primary" id="open-modal-btn">Crear Encuesta</button>
    </div>
    <div id="chat-messages">
        <div>
            {% for group in combined %}
                <div class="date-separator">{{ group.date }}</div>
                {% for item in group.elements %}
                    {% if item.type == 'message' %}
                        <div class="message-group">
                            <ul>
                                <li><strong>{{ item.username }}:</strong> {{ item.content }} <em>({{ item.creation_date }})</em></li>
                            </ul>
                        </div>
                    {% elif item.type == 'poll' %}
                        <div class="poll-item box">
                            <h4 class="title is-5">{{ item.question }}</h4>
                            <div class="field">
                                {% for option in item.options %}
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="poll_{{ item.poll_id }}" value="{{ option.option_id }}">
                                            {{ option.option_text }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div id="chat-input">
        <form action="{{ url_for('main.send_message', channel_id=channel.channel_id) }}" method="post">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" name="message" placeholder="Escribe tu mensaje...">
                </div>
                <div class="control">
                    <button class="button is-primary" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>    
</div>

<div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="title">Crear Encuesta</h2>
            <form action="{{ url_for('main.create_poll', channel_id=channel.channel_id) }}" method="post">
                <div class="field">
                    <label class="label">Pregunta</label>
                    <div class="control">
                        <input class="input" type="text" name="question" placeholder="Escribe tu pregunta" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Opciones</label>
                    <div id="options-container">
                        <div class="control option-input mb-1">
                            <input class="input" type="text" name="options" placeholder="Opción" required>
                        </div>
                    </div>
                    <button type="button" class="button is-link is-light" id="add-option-btn">Agregar Opción</button>
                </div>
                <div class="field">
                    <label class="label">Fecha de Finalización</label>
                    <div class="control">
                        <input class="input" type="datetime-local" name="event_date" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Crear Encuesta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="close-modal-btn"></button>
</div>
{% endblock %}

{% block users %}
<aside class="menu">
    <p class="menu-label">
        Usuarios Matriculados
    </p>
    <div class="users-list">
        {% for user in users %}
        <div class="card user-card">
            <div class="card-content">
                <p class="subtitle is-6">{{ user.username }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</aside>
{% endblock %}
