{% extends "base.html" %}

{% block servers %}
<aside class="menu">
    <p class="menu-label">
        Servidores
    </p>
    <ul class="menu-list">
        {% for server in servers %}
        <li><a href="{{ url_for('main.server', server_id=server.server_id) }}">{{ server.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}

{% block channels %}
<aside class="menu">
    <p class="menu-label">
        Canales
    </p>
    <ul class="menu-list">
        {% for channel in channels %}
        <li><a href="{{ url_for('main.channel', channel_id=channel.channel_id) }}">{{ channel.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}

{% block chat %}
<div id="chat">
    <div id="chat-messages">
        <h2 class="title">{{ channel.name }}</h2>
        <div>
            {% for message_date, messages in messages_grouped_by_day.items() %}
            <div class="message-group">
                <h3>{{ message_date }}</h3>
                <ul>
                    {% for message in messages %}
                    <li><strong>{{ message.username }}:</strong> {{ message.content }} <em>({{ message.creation_date }})</em></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="chat-input">
        <form action="{{ url_for('main.send_message', channel_id=channel.channel_id) }}" method="post">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" name="message" placeholder="Escribe tu mensaje...">
                </div>
                <div class="control">
                    <button class="button is-primary" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>    
</div>
{% endblock %}

{% block users %}
<aside class="menu">
    <p class="menu-label">
        Usuarios Matriculados
    </p>
    <div class="users-list">
        {% for user in users %}
        <div class="card user-card">
            <div class="card-content">
                <p class="subtitle is-6">{{ user.username }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</aside>
{% endblock %}