{% extends "base.html" %}

{% block auth %}
<div class="box has-background-grey-light">
    <h2 class="title">Crear una cuenta</h2>
    <form action="{{ url_for('auth.register') }}" method="post">
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
                <input class="input custom-input" type="text" name="username" placeholder="Username" required>
                <span class="icon is-small is-left has-text-black">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
                <input class="input custom-input" type="email" name="email" placeholder="Email" required>
                <span class="icon is-small is-left has-text-black">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Contraseña</label>
            <div class="control has-icons-left">
                <input class="input custom-input" type="password" name="password" placeholder="Contraseña" required>
                <span class="icon is-small is-left has-text-black">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-link has-background-primary has-text-black" type="submit">Registrarse</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
