{% extends "base.html" %}

{% block servers %}
<aside class="menu">
    <p class="menu-label">
        Servidores
    </p>
    <ul class="menu-list">
        {% for server in servers %}
        <li><a href="{{ url_for('main.server', server_id=server.server_id) }}">{{ server.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}

{% block channels %}
<aside class="menu">
    <p class="menu-label">
        Canales
    </p>
    <ul class="menu-list">
        {% for channel in channels %}
        <li><a href="{{ url_for('main.channel', channel_id=channel.channel_id) }}">{{ channel.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}

{% block users %}
<aside class="menu">
    <p class="menu-label">
        Usuarios Matriculados
    </p>
    <ul class="menu-list">
        {% for user in users %}
        <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}
