{% extends "base.html" %}

{% block servers %}
<aside class="menu">
    <p class="menu-label">Servers</p>
    <ul class="menu-list">
        {% for server in servers %}
        <li><a href="{{ url_for('main.server', server_id=server.server_id) }}">{{ server.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}

{% block channels %}
<aside class="menu">
    <p class="menu-label">{{ server.name }}</p>
    <ul class="menu-list">
        {% for channel in channels %}
        <li><a href="{{ url_for('main.channel', channel_id=channel.channel_id) }}">{{ channel.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}

{% block chat %}{% endblock %}
